.home_banner{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 100vh;
  padding: 0;
  background: url("../../img/slider-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

.home_banner:after {
  content: "";
  bottom: 0;
  display: block;
  position: absolute;
  margin-bottom: 0;
  height: 100%;
  width: 30%;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAJUlEQVQoU2N8+vTpfwYGBgZpaWlGEI0LMBKtEJ8pyHJ4rRtVCAAd/QgLwKUsAgAAAABJRU5ErkJggg==)!important;
  background-position: 0 0px!important;
  background-repeat: repeat!important;
  right: 0;
  z-index: -1;
}

.heading_box h2{
  font-size: 80px;
  line-height: 90px;
  font-weight: 600;
  margin-bottom: 1.25rem;
}

.slider_right {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  z-index: 2;
  float: right;
  width: auto;
}

.slider_right img {
  position: relative;
  max-height: 500px;
  width: 370px;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-box-shadow: -6px 10px 40px rgba(0,0,0,0.06);
  box-shadow: -6px 10px 40px rgba(0,0,0,0.06);
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.slider_right span {
  position: absolute;
  top: 0px;
  bottom: 0;
  z-index: -9;
  height: 110%;
  width: 100%;
  left: 0;
  right: 0;
  margin-left: 30px;
  margin-top: -25px;
  background: #55ACEE;
  -webkit-box-shadow: -6px 10px 40px rgba(0,0,0,0.06);
  box-shadow: -6px 10px 40px rgba(0,0,0,0.06);
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.main_color{color: #55ACEE;}
.small_font{font-size: 60px;}

@media screen and (max-width:991px){
  .home_banner{
    padding: 10rem 0 7.5rem;
  }

  .slider_right {
    float: none;
    margin-top: 6rem;
  }

.heading_box h2 {
    font-size: 3.5rem;
    line-height: 1.1;
  }

.home_banner [class*=shape-]{
    display: none;
  }
}

@media screen and (max-width:767px){

  section{
      padding: 4.5rem 0;
  }
  .home_banner{
      padding: 7rem 0 4.5rem;
  }

  .slider_right {
      float: none;
      margin-top: 5rem;
  }

  .heading_box h2 {
      font-size: 2.3rem;
      line-height: 1.1;
  }
}